<div id="surgeon_container">
  <%= form_for(@surgeon, :remote => true,
  :authenticity_token => true) do |surgeon_form| %>
  <div class="well">
    <%= surgeon_form.text_field :last_name, placeholder: "Surgeon's last name" %>
    <%= surgeon_form.text_field :first_name, placeholder: "Surgeon's first name" %>
    <%= surgeon_form.text_field :url, placeholder: "Surgeon's URL" %>
  <% end %>
  <%= link_to "Add surgeon", '#', :id => 'new_surgeon_submit', :class => 'btn btn-sm btn-default pull-right' %>
  </div>
</div>