<% title 'New Registration' %>
<div class="col-md-5 center">
  <div class="top-block"><center><h1><%= fa_icon "lock" %></h1></center></div>
  <div class="login_well">
    <p><small>Transbucket.com will <b>never</b> sell, rent, or lease your information.</small></p>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
      <%= render 'error_messages', object: resource %>
    <div class="input-group padded_nicely">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.text_field :name, placeholder: "Your name", class: "form-control" %>
    </div>
    <div class="input-group padded_nicely">
      <span class="input-group-addon"><%= fa_icon "users" %></span>
      <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
    </div>
    <div class="input-group padded_nicely">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
    </div>
    <div class="input-group padded_nicely">
      <span class="input-group-addon"><%= fa_icon "lock" %></span>
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
    </div>
    <div class="input-group padded_nicely">
      <span class="input-group-addon"><%= fa_icon "lock" %><%= fa_icon "check" %></span>
      <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-control" %>
    </div>
    <div class="input-group padded_nicely">
      <span class="input-group-addon"><%= fa_icon "key" %> Gender: </span>
      <%= f.select :gender_id, options_from_collection_for_select(Gender.all, "id", "name"), {}, { class: "form-control"} %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary btn-large pull-right" %>
    <% end %>
    <br clear="both">
  </div>
  <div class="well">
    <%= render "devise/shared/links" %>
  </div>
</div>
