<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>


<%= f.input :name %>
<%= f.label :gender %> 
<%= f.select(:gender, [['None', 1], ['MTF', 2], ['FTM', 3], ['GenderQueer', 4], ['Cisgender', 5]]) %>
<%= f.input :email %>
<%= f.input :password %>
<%= f.input :password_confirmation %>

  <div class="form-actions"><%= f.submit "Sign up", class: "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
