<% title t('.sign_up') %>
<div class="col-md-6 center">
  <div class="top-block"><center><h1><%= fa_icon "lock" %></h1></center></div>
  <div class="login_well">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
      <%= render 'shared/errors', object: resource %>
      <div id="username">
        <span class="explanation"><%= I18n.t(".explanations.username") %></span>
        <div class="input-group padded_nicely">
          <span class="input-group-addon"><%= fa_icon "users" %></span>
          <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
        </div>
      </div>
      <div id="email">
        <span class="explanation"><%= I18n.t(".explanations.email") %></span>
        <div class="input-group padded_nicely">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <%= f.email_field :email, placeholder: t("activerecord.attributes.user.email"), class: "form-control" %>
        </div>
      </div>
      <div id="password">
        <span class="explanation"><%= I18n.t(".explanations.password") %></span>
        <div class="input-group padded_nicely">
          <span class="input-group-addon"><%= fa_icon "lock" %></span>
          <%= f.password_field :password, placeholder: t("activerecord.attributes.user.password"), class: "form-control" %>
        </div>
        <div class="input-group padded_nicely">
          <span class="input-group-addon"><%= fa_icon "lock" %><%= fa_icon "check" %></span>
          <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-control" %>
        </div>
      </div>
      <div id="name">
        <span class="explanation"><%= I18n.t(".explanations.name") %></span>
        <div class="input-group padded_nicely">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= f.text_field :name, placeholder: "Your name", class: "form-control" %>
        </div>
      </div>
      <div id="gender">
        <span class="explanation"><%= I18n.t(".explanations.gender") %></span>
        <div class="input-group padded_nicely">
          <span class="input-group-addon"><%= fa_icon "key" %> Gender: </span>
          <%= f.select :gender_id, options_from_collection_for_select(Gender.all, "id", "name"), {}, { class: "form-control"} %>
        </div>
      </div>
      <p><%= I18n.t(".explanations.tos") %></p>
      <center>
        <%= f.submit t(".sign_up"), class: "btn btn-primary btn-large" %>
      </center>
    <% end %>
    <br clear="both">
  </div>
  <div class="well">
    <%= render "devise/shared/links" %>
  </div>
</div>
