<div class="top-block span5"><center><i class="fa fa-camera"></i></center></div>
<p>We recommend listing images from "Before" to "After", top to bottom in the form.</p>
<% count = -1 %>
<%= f.fields_for :pin_images do |ff| %>
<div id='<%= ff.object.id %>' class='well'>
  <% count += 1 %>
  <div class="control-group">
    <label class="control-label">Caption</label>
    <div class="controls">
      <%= ff.text_field :caption %>
    </div>
  </div>
  <% if ff.object.persisted? %>
  <label>Image File: <%= image_tag ff.object.photo %></label>
  <%= link_to('<i class="fa fa-trash-o"></i>'.html_safe, pin_pin_image_path(@pin, ff.object.id), method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'deleting...' }) %>
  <% else %>
  <%= ff.link_to_remove '<i class="fa fa-trash-o"></i>'.html_safe %>
  <% end %>
  <div class="input-append pull-right">
    <input id="photoCover<%= count %>" class="input-large" type="text">
    <a class="btn" onclick="$('input[id=pin_pin_images_attributes_<%= count %>_photo]').click();">Browse</a>
  </div>
  <%= ff.file_field(:photo, accept:'image/png,image/jpg,image/jpeg', class: 'hidden') %>
  <%= ff.hidden_field :_destroy %>
  <br clear="both">
</div>
<script type="text/javascript">
$('input[id=pin_pin_images_attributes_<%= count %>_photo]').change(function() {
$('#photoCover<%= count %>').val($(this).val());
});
</script>
<% end %>
<div class="form-actions">
<!-- TODO not working -->
  <%= f.link_to_add "Add another photo", :pin_images, :class => 'btn btn-success' %>
</div>