<!-- New edit & new form -->
<div class="row">
  <div class="col-md-6">
    <%= nested_form_for @pin, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
    <%= render partial: 'errors', locals: {pin: @pin} if @pin.errors.any? %>
    <div class="top-block span5"><center><i class="fa fa-pencil"></i></center></div>
    <%= render partial: 'surgeon_and_procedure', locals: {f: f} %>
    <%= render partial: 'new_procedure', locals: {f: f} if f.object.procedure.nil? %>
    <%= render partial: 'more_options', locals: {f: f} %>
    <%= render partial: 'details', locals: {f: f} %>
    <div class="form-actions">
      <%= f.submit "Submit Now", :class => 'btn btn-primary' %>
    </div>
  </div>
</div>
<div class="col-md-6">
  <%= render partial: 'add_images', locals: {f: f} %>
</div>
</div>
<% end %>
<%= render 'pins/surgeon_complete' %>