<!-- New edit & new form -->
<div class='container center'>
<%= nested_form_for @pin, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="submission_well span5 control-group">
    <% f.hidden_field :id %>

    <div class="control-group">
      <label class="control-label">Surgeon</label>
      <div class="controls">
        <% if f.object.surgeon.nil? %>
          <%= f.select :surgeon_id, options_from_collection_for_select(Surgeon.order('last_name ASC'), 'id', 'to_s', 911) %>
        <% else %>
          <%= f.select :surgeon_id, options_from_collection_for_select(Surgeon.order('last_name ASC'), 'id', 'to_s', @pin.surgeon.id) %>
        <% end %> <%= f.link_to_add '<i class="fa fa-plus-circle"></i>'.html_safe, :surgeon %>
      </div>
    </div>

     <% if f.object.surgeon.nil? %>
       <%= f.fields_for :surgeon do |surgeon_form| %>
          <div class="well form-control">
            <%= surgeon_form.text_field :last_name, placeholder: "Surgeon's last name" %>
            <%= surgeon_form.text_field :first_name, placeholder: "Surgeon's first name" %>
            <%= surgeon_form.text_field :url, placeholder: "Surgeon's URL" %>
            <br>
            <%= surgeon_form.link_to_remove "Remove this surgeon" %>
          </div>
        <% end %>
    <% end %>

    <div class="control-group">
      <label class="control-label">Procedure</label>
      <div class="controls">
        <% if f.object.procedure.nil? %>
          <%= f.select :procedure_id, options_from_collection_for_select(Procedure.all.sort, 'id', 'to_s') %>
        <% else %>
          <%= f.select :procedure_id, options_from_collection_for_select(Procedure.all.sort, 'id', 'to_s', @pin.procedure.id) %>
        <% end %>  <%= f.link_to_add '<i class="fa fa-plus-circle"></i>'.html_safe, :procedure %>
      </div>
    </div>

    <% if f.object.procedure.nil? %>
      <%= f.fields_for :procedure do |procedure_form| %>
        <div class="submission_well form-control">
            <%= procedure_form.text_field :name, placeholder: "Name of procedure" %>
            <label>Type
            <%= procedure_form.select :body_type, options_for_select([ "Top", "Bottom", "Face", "Other" ]) %>
          </label>
          <label>Gender
            <%= procedure_form.select :gender, options_for_select([ "FTM", "MTF" ]) %>
          </label>
          <%= procedure_form.link_to_remove "Remove this procedure" %>
        </div>
      <% end %>
    <% end %>

    <div class="control-group">
      <label class="control-label">Cost</label>
      <div class="controls"><%= f.text_field :cost %></div>
    </div>

    <div class="control-group">
      <label class="control-label">Post-op Sensation</label>
      <div class="controls">
        <% 5.times do |i| %>
          <%= radio_button(:pin, :sensation, i, {class: "star"}) %>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Post-op Satisfaction</label>
      <div class="controls">
        <% 5.times do |i| %>
          <%= radio_button(:pin, :satisfaction, i, {class: "star"}) %>
        <% end %>
      </div>
    </div>
    <div class="">
      <div class="control-group">
        <label class="checkbox control-label">Seeking a revision</label>
        <div class="controls">
          <%= f.check_box :revision %>
        </div>
      </div>

    <div class="control-group">
      <label class="control-label">Details</label>
      <div class="controls">
        <%= f.text_area :details, :cols => "200", :rows => "10" %>
        <%= f.submit "Submit Now", :class => 'btn btn-primary' %>
      </div>
    </div>
    </div>
  </div>
  <div class="submission_well span4">
    <p>We recommend listing images from "Before" to "After", top to bottom in the form.</p>
      <%= f.fields_for :pin_images do |ff| %>
        <div id='<%= ff.object.id %>'>
          <%= ff.label :caption, "Image Caption" %>
          <%= ff.text_field :caption %>
          <% if ff.object.persisted? %><label>Image File: <%= image_tag ff.object.photo %></label><% end %>
          <%= ff.file_field(:photo) %>
          <%= ff.hidden_field :_destroy %>
          <% if ff.object.persisted? %><%= link_to('X', pin_pin_image_path(@pin, ff.object.id),
                    method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'deleting...' }) %><% end %>
          <% if ff.object.new_record? %><%= ff.link_to_remove "X"%><% end %>
          <hr class="style-two">
        </div>
      <% end %>
      <br>
      <p><%= f.link_to_add "Add another photo", :pin_images, :class => 'btn btn-success' %></p>
    <% end %>
  </div><br clear="both">
</div>

<%= render 'pins/surgeon_complete' %>