<!-- Edit Form -->
<%= nested_form_for @pin, :html => {:multipart => true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span4">
      <%= f.label :surgeon, "Surgeon" %>
      <%= f.select :surgeon, options_for_select(Surgeon.names, @pin.surgeon.to_s) %>

      <%= f.label :cost, "Cost" %>
      <%= f.number_field :cost %>

      <%= f.label :procedure, "Procedure" %>
      <%= f.select :procedure_id, options_for_select(Procedure.all.map(&:name), @pin.procedure.name) %>

      <%= f.label :sensation, "Post-op Sensation" %>
      <% 5.times do |i| %>
        <%= radio_button(:pin, :sensation, i, {class: "star"}) %>
      <% end %>
      <br>
      <%= f.label :satisfaction, "Post-op Satisfaction" %>
      <% 5.times do |i| %>
        <%= radio_button(:pin, :satisfaction, i, {class: "star"}) %>
      <% end %>
      <br>

      <label class="checkbox">
      <%= f.check_box :revision %>
      Seeking a revision</label>

      <%= f.label :details, "Details" %>
      <%= f.text_area :details, :cols => "10", :rows => "10" %>
      <br>
      <%= f.submit "Submit Now", :class => 'btn btn-primary' %>
  </div>
  <div class="span4">
      <%= f.fields_for :pin_images do |ff| %>
        <%= ff.label :caption, "Image Caption" %>
        <%= ff.text_field :caption %>
        <% unless ff.object.photo_file_size.nil? %>
          <%= image_tag ff.object.photo %>
          <%= ff.object.photo_file_name %>
        <% end %>
        <%= ff.label :photo, "Image File" %>
        <%= ff.file_field :photo %>
      <% end %>
  </div>
</div>
<% end %>

<%= render 'pins/surgeon_complete' %>