    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <script>
  $(function() {
    var availableTags = ["Garramone, Charles", "Brownstein, Michael", "Medalie, Daniel ", "Protasov, Kirill", "Dupere, Marc", "Foley, Art", "Fischer, Beverly", "Kuzon, William Michael Jr.", "Westburg, Kirsten", "De La Riva, Patricia", "McLean, Hugh", "Johnson, Melissa", "Johnson, Perry", "Steinwald", "Edwards, Gereth", "Alter, Gary", "Bowman, Cameron", "McGinn, Christine", "other", "Startseva, Olesya", "Leis, Sherman", "Schaarschmidt ", "Tholen, Richard", "Raphael, Peter", "Faridi, Andree", "Reed, Harold", "Andersson, Lena C.", "Monstrey, Stan", "Hassall, Megan", "Steinwald, Paul", "Davies, Dai", "Suporn, Watanyusakul", "Djordjevic, Miroslav", "Reardon, James J.", "Meltzer, Toby", "Daverio, Paul", "Costas, Paul", "Wilson, Alan Neal", "Bowers, Marci", "Perovic, Sava", "Rumer, Kathy", "Mangubat, Antonio", "Lawton, Gary", "Bartholomeusz, Hugh", "Lincenberg, Sheldon", "Menard, Yvon", "Weiss, Paul", "Nguyen, Tuan A.", "Ralph, David", "Gilbert, David", "Buckley, Marie-Claire", "", "Brassard, Pierre", "Caloca, Jaime", "Vichai Surawongsin", "Beck, Joel B", "Bartlett, Richard", "Van Loenen, Thea", "Schaff, Jurgen", "Gahm, Jessica", "Kratz, Gunnar", "Giuffre, Martin", "Jones, Justin", "Crane, Curtis", "Liedl, Bernhard", "Vaniver, Karen", "Yelland, Andrew"];
    $( "#pin_surgeon" ).autocomplete({
      source: availableTags
    });
  });
  </script>

<%= form_for @pin, :html => {:multipart => true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="span4">

    <%= f.label :surgeon, "Surgeon" %>
    <%= f.text_field :surgeon %>

    <%= f.label :procedure, "Procedure" %>
    <%= f.select :procedure, [['Double Incision w/ nipple grafts'], ['Periareolar/Keyhole'], ['Double incision w/ NO nipple grafts'], ['T Anchor Double Incision'], ['FTM Phalloplasty'], ['Double Incision w/ NO Nipple Grafts'], ['Other'], ['MTF Bottom Surgery'], ['FTM Metoidioplasty'], ['Breast Augmentation/Implants']] %>

     <%= f.label :cost, "Cost" %>
    <%= f.text_field :cost %>

    <%= f.label :revision, "Want revision?" %>
    <%= f.check_box :revision %>

    <%= f.label :details, "Details" %>
    <%= f.text_area :details, :cols => "10", :rows => "10" %>
    <%= f.submit "Submit Now", :class => 'btn btn-primary' %>
</div>
<div class="span4">

    <%= f.fields_for :pin_images do |ff| %>
        <%= ff.label :caption, "Image Caption" %>
        <%= ff.text_field :caption %>
        <% unless ff.object.photo_file_size.nil? %>
        <%= image_tag ff.object.photo %>
        <%= ff.object.photo_file_name %>
        <% end %>
        <%= ff.label :photo, "Image File" %>
        <%= ff.file_field :photo %>
        <% #end %>
    <% end %>
</div></div>
<% end %>