<%= form_for @pin, :html => {:multipart => true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="span4">

    <%= f.label :surgeon, "Surgeon" %>
    <%= f.text_field :surgeon %>

    <%= f.label :procedure, "Procedure" %>
    <%= f.text_field :procedure %>

     <%= f.label :cost, "Cost" %>
    <%= f.text_field :cost %>

    <%= f.label :revision, "Want revision?" %>
    <%= f.check_box :revision %>

    <%= f.label :details, "Details" %>
    <%= f.text_area :details, :cols => "10", :rows => "10" %>
    <%= f.submit %>
</div>
<div class="span4">

    <%= f.fields_for :pin_images do |ff| %>
        <%= ff.label :caption, "Image Caption" %>
        <%= ff.text_field :caption %>
        <% unless ff.object.photo_file_size.nil? %>
        <%= image_tag ff.object.photo %>
        <%= ff.object.photo_file_name %>
        <% end %>
        <%= ff.label :photo, "Image File" %>
        <%= ff.file_field :photo %>
        <% #end %>
    <% end %>
</div></div>
<% end %>