<%= nested_form_for @pin, :html => {:multipart => true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="well span4">

    <%= f.label :surgeon, "Surgeon" %>
    <%= f.text_field :surgeon %>

    <%= f.label :cost, "Cost" %>
    <%= f.text_field :cost %>

    <%= f.label :procedure, "Procedure" %>
    <%= f.select :procedure, options_for_select(Pin::PROCEDURES) %>

    <%= f.label :sensation, "Post-op Sensation" %>
    <% 5.times do |i| %>
      <%= radio_button(:pin, :sensation, i, {class: "star"}) %>
    <% end %>
    <br>
    <%= f.label :satisfaction, "Post-op Satisfaction" %>
    <% 5.times do |i| %>
      <%= radio_button(:pin, :satisfaction, i, {class: "star"}) %>
    <% end %>
    <br>

    <label class="checkbox">
    <%= f.check_box :revision %>
    Seeking a revision</label>

    <%= f.label :details, "Details" %>
    <%= f.text_area :details, :cols => "10", :rows => "10" %>
    <br>
    <%= f.submit "Submit Now", :class => 'btn btn-primary' %>
</div>
<div class="well span4">
  <p>We recommend listing images from "Before" to "After", top to bottom in the form.</p>

<%= f.fields_for :pin_images do |ff| %>
    <% if ff.object.new_record? %>
      <%= ff.label :caption, "Image Caption" %>
      <%= ff.text_field :caption %>
      <%= ff.file_field(:photo) %>

     <% else %>
        <%= image_tag(photo.url(:thumb)) %>
        <%= ff.hidden_field :_destroy %>
        <%= ff.link_to_remove "X"%>
    <% end %>
  <% end %>
<br>
    <p><%= f.link_to_add "Add another photo", :pin_images, :class => 'btn btn-success' %></p>
  <% end %>
</div><br clear="both">

<%= render 'pins/surgeon_complete' %>