<!-- New edit & new form -->
<%= nested_form_for @pin, :html => {:multipart => true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="submission_well span4">
    <% f.hidden_field :id %>
    <%= f.label :surgeon, "Surgeon" %>
    <% if f.object.surgeon.nil? %>
      <%= f.select :surgeon_id, options_from_collection_for_select(Surgeon.order('last_name ASC'), 'id', 'to_s') %>
    <% else %>
      <%= f.select :surgeon_id, options_from_collection_for_select(Surgeon.order('last_name ASC'), 'id', 'to_s', @pin.surgeon.id) %>
    <% end %>

     <% if f.object.surgeon.nil? %>
       <%= f.fields_for :surgeon do |surgeon_form| %>
          <div class="well form-control">
            <%= surgeon_form.text_field :last_name, placeholder: "Surgeon's last name" %>
            <%= surgeon_form.text_field :first_name, placeholder: "Surgeon's first name" %>
            <%= surgeon_form.text_field :url, placeholder: "Surgeon's URL" %>
            <br>
            <%= surgeon_form.link_to_remove "Remove this surgeon" %>
          </div>
        <% end %>
      <%= f.link_to_add "Add a surgeon", :surgeon %>
    <% end %>

    <%= f.label :cost, "Cost" %>
    <%= f.text_field :cost %>

    <%= f.label :procedure, "Procedure" %>
    <% if f.object.procedure.nil? %>
      <%= f.select :procedure_id, options_from_collection_for_select(Procedure.all.sort, 'id', 'to_s') %>
    <% else %>
      <%= f.select :procedure_id, options_from_collection_for_select(Procedure.all.sort, 'id', 'to_s', @pin.procedure.id) %>
    <% end %>

    <% if f.object.procedure.nil? %>
      <%= f.fields_for :procedure do |procedure_form| %>
        <div class="submission_well form-control">
            <%= procedure_form.text_field :name, placeholder: "Name of procedure" %>
            <label>Type
            <%= procedure_form.select :body_type, options_for_select([ "Top", "Bottom", "Face", "Other" ]) %>
          </label>
          <label>Gender
            <%= procedure_form.select :gender, options_for_select([ "FTM", "MTF" ]) %>
          </label>
          <%= procedure_form.link_to_remove "Remove this procedure" if f.object.new_record? %>
        </div>
      <% end %>
      <%= f.link_to_add "Add a procedure", :procedure %>
    <% end %>


    <%= f.label :sensation, "Post-op Sensation" %>
    <% 5.times do |i| %>
      <%= radio_button(:pin, :sensation, i, {class: "star"}) %>
    <% end %>
    <br>
    <%= f.label :satisfaction, "Post-op Satisfaction" %>
    <% 5.times do |i| %>
      <%= radio_button(:pin, :satisfaction, i, {class: "star"}) %>
    <% end %>
    <br>

    <label class="checkbox">
      <%= f.check_box :revision %>
    Seeking a revision</label>

      <%= f.label :details, "Details" %>
      <%= f.text_area :details, :cols => "10", :rows => "10" %>
    <br>
      <%= f.submit "Submit Now", :class => 'btn btn-primary' %>
    </div>
  <div class="submission_well span4">
    <p>We recommend listing images from "Before" to "After", top to bottom in the form.</p>
      <%= f.fields_for :pin_images do |ff| %>
        <%= ff.label :caption, "Image Caption" %>
        <%= ff.text_field :caption %>
        <% if ff.object.persisted? %><label>Image File: <%= image_tag ff.object.photo %></label><% end %>
        <%= ff.file_field(:photo) %>
        <%= ff.hidden_field :_destroy %>
        <%= ff.link_to_remove "X"%>
        <hr class="style-two">
      <% end %>
      <br>
      <p><%= f.link_to_add "Add another photo", :pin_images, :class => 'btn btn-success' %></p>
    <% end %>
  </div><br clear="both">

<%= render 'pins/surgeon_complete' %>