<!-- New edit & new form -->
<div class="row">
  <div class="col-md-6">
    <%= nested_form_for @pin, :html => {:multipart => true, :class => "form-inline"} do |f| %>
    <%= render partial: 'errors', locals: {pin: @pin} if @pin.errors.any? %>
    <div class="top-block span5">
      <center><i class="fa fa-pencil"></i></center>
    </div>
    <div class="submission_well">
      <%= render partial: 'surgeon_and_procedure', locals: {f: f} %>
      <br>
      <label class="control-label">Your experience at a glance:</label>
      <div class="submission_well">
        <%= render partial: 'more_options', locals: {f: f} %>
      </div>
      <%= render partial: 'details', locals: {f: f} %>
      <br>
      <%= f.submit "Submit Now", :class => 'btn btn-success btn-block' %>
    </div>
  </div>
  <div id="pin_images" class="col-md-6">
    <div class="top-block span5">
      <center><i class="fa fa-camera"></i></center>
    </div>
    <div class="submission_well">
      <%= render partial: 'pin_images/form' %>
    </div>
  </div>
</div>
<% end %>
<%= render 'pins/surgeon_complete' %>