<% if pin.present? %>
  <% if pin.pin_images.present? %>
    <div class="box">
      <div class="actions">
      <label class="label-with-popover" data-placement="left" data-content="Flags from 3 different users will remove content pending review by a moderator." data-title="Flag this content." data-trigger="hover">
        <%= link_to '<i class="fa fa-flag"></i>'.html_safe, pin_flags_path(pin), :method => :post, remote: true %>
      </label>

      <% if current_user == pin.user || current_user.admin? %>
      | <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_pin_path(pin) %>
      | <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, pin, method: :delete, data: { confirm: 'Are you sure?' } %>

        <% if pin.pending? %>
          | <%= link_to 'Remove Flag', remove_pin_flag_path(pin), remote: true %>
        <% end %>
      <% end %>

      posted <%= distance_of_time_in_words(Time.now, pin.created_at) %> ago
    </div>

    <% if pin.published? %>
      <div class="image">
        <% if @presenter.show_new_comments(pin).present? %>
          <div class="comment_box">
            <p><%= "<i class='icon-comment'></i> <b>New Comment: </b>".html_safe + pin.comment_threads.last.body.split(" ").first(50).join(" ") %></p>
          </div>
        <% end %>
          <%= link_to (image_tag pin.cover_image(@presenter.safe_mode)), pin %></div>

        	<p class="description">
            <%= pin.procedure.name unless pin.procedure.nil? %> by <strong> Dr. <%= pin.surgeon.last_name unless pin.surgeon.nil? %></strong>
          </p>
        </div>
      <% end %>
  <% end %>

  <script>
    $('.label-with-popover').popover();
  </script>
<% end %>