<% if pin.present? %>
  <% if pin.pin_images.present? %>
    <div class="box">
      <div class="actions">
      <label class="label-with-popover" data-placement="left" data-content="Flags from 3 different users will remove content pending review by a moderator." data-title="Flag this content." data-trigger="hover">
        <%= link_to "<i class='icon-flag'></i>".html_safe, '/pins/' + pin.id.to_s + '/flag.js', remote: true %>
      </label>

      <% if current_user == pin.user || current_user.admin? %>
      | <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_pin_path(pin) %>
      | <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, pin, method: :delete, data: { confirm: 'Are you sure?' } %>

        <% if pin.pending? %>
          | <%= link_to 'Remove Flag', '/pins/' + pin.id.to_s + '/remove_flag.js', remote: true %>
        <% end %>
      <% end %>
    </div>

    <div class="image">
      <% #binding.pry %>
      <% if @presenter.show_new_comments(pin).present? %>
        <div class="comment_box">
          <p><%= "<i class='icon-comment'></i> <b>New Comment: </b>".html_safe + pin.comment_threads.last.body.split(" ").first(50).join(" ") %></p>
        </div>
      <% end %>

        <%= link_to (image_tag pin.cover_image(safe_mode)), pin %></div>

      	<p class="description">
          <%= pin.procedure %> by <strong> Dr. <%= pin.surgeon %></strong>
        </p>
      </div>
  <% end %>

  <script>
    $('.label-with-popover').popover();
  </script>
<% end %>