<div class="row">
  <% f.hidden_field :id %>
  <div class="form-group col-md-6">
    <label class="control-label">Surgeon</label>
    <div id="surgeon_form" class="controls">
      <% if f.object.surgeon.nil? %>
      <%= f.select :surgeon_id, options_from_collection_for_select(Surgeon.order('last_name ASC'), 'id', 'to_s', 911) %>
      <%= link_to fa_icon("plus-circle"), new_surgeon_path, remote: true, id: 'add_new_procedure' %>
      <% else %>
      <%= f.select :surgeon_id, options_from_collection_for_select(Surgeon.order('last_name ASC'), 'id', 'to_s', @pin.surgeon.id) %>
      <% end %>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label class="control-label">Procedure</label>
    <div id="procedure_form" class="controls">
      <% if f.object.procedure.nil? %>
      <%= f.select :procedure_id, options_from_collection_for_select(Procedure.order('name ASC'), 'id', 'to_s') %>
      <%= link_to fa_icon("plus-circle"), new_procedure_path, remote: true, id: 'add_new_surgeon' %>
      <% else %>
      <%= f.select :procedure_id, options_from_collection_for_select(Procedure.order('name ASC'), 'id', 'to_s', @pin.procedure.id) %>
      <% end %>
    </div>
  </div>
</div>
