<% if user_signed_in? %>
<% if params[:query].blank? %>
<h2>Latest submissions</h2>
<% else %>
<h1>Search result</h1>
<% end %>
<div id="pins">
<%= will_paginate @pins unless @pins.nil? %>
<%= render @pins unless @pins.nil? %>
</div>
<br clear="both" />
<%= will_paginate @pins unless @pins.nil? %>
<% else %>
<div class="row">
	<div class="span4">
		<h2>Do you have questions about transitioning?</h2>
	</div>
	<div class="span4">
		<h2>We have answers.</h2>
	</div>
	<div class="span4">
  <h2>See trans* patients like you.</h2>
</div>
</div>
<div class="row">
	<div class="span4">
	<%= image_tag(image_path("dysphoria2.png"), :size => "400x400", :alt => "dysphoria", :padding => "10") %>
	</div>
	<div class="span4">
	<%= image_tag(image_path("key.png"), :size => "300x300", :alt => "key", :padding => "10") %>
	</div>
	<div class="span4">
		<div class="btn-group" style="margin-top:30%; margin-left:5%;">
  <%= link_to 'Register', register_path, :class => "btn btn-primary btn-large" %> <%= link_to 'Learn More', about_path, :class => "btn btn-large" %> <%= link_to 'Login', login_path, :class => "btn btn-large" %>
</div>
</div>

</div>
<% end %>