<% cache(["pin_show", @pin, @pin.pin_images.map(&:id), @pin.pin_images.maximum(:updated_at)]) do %>
  <% title 'Submission #' + @pin.id.to_s %>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <% for pinimage in @pin.pin_images.reject {|p| p.photo_file_size.nil?} do %>
          <div class="thumbnail">
            <%= image_tag pinimage.photo %>
            <div class="caption">
              <%= pinimage.caption.to_s %>
            </div>
          </div>
        <% end %>
        <br>
        <%= link_to fa_icon("arrow-left"), pins_path %>
        <% if current_user == @pin.user || current_user.admin == true %>
          | <%= link_to fa_icon("pencil-square-o"), edit_pin_path(@pin) %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>
        <%= fa_icon "user-md" %> Surgeon
      </dt>
      <dd>
        <%= link_to @pin.unknown_surgeon? ? 'unknown' : 'Dr. ' + @pin.surgeon.to_s, surgeon_path(@pin.surgeon) %>
      </dd>
      <dt>
        <%= fa_icon "plus-square" %> Procedure
      </dt>
      <dd>
        <%= link_to @pin.procedure.name, pins_path({procedure: [@pin.procedure.id]}) %>
      </dd>
      <dt>
        <%= fa_icon "usd" %> Cost
      </dt>
      <dd>
        <%= number_with_delimiter(@pin.cost) %>
      </dd>
      <% if @pin.complications.present? %>
        <dt>
          <%= fa_icon "medkit" %> Complications
        </dt>
        <dd>
          <% @pin.complications.each do |complication| %>
            <%= link_to complication, pins_path(complication: complication.name) %>
          <% end %>
        </dd>
      <% end %>
      <% if @pin.revision %>
        <dt>
          <%= fa_icon "exclamation-circle" %> Wants revision
        </dt>
        <dd></dd>
      <% end %>
      <% if @pin.sensation.present? %>
        <dt>
          Post-op Sensation</dt>
        <dd>
          <%= number_field(:pin, :sensation, {class: "rating", disabled: "disabled", data: {size: 'xs'}}) %>
        </dd>
        <br>
      <% end %>
      <% if @pin.satisfaction.present? %>
        <dt>Post-op Satisfaction</dt>
        <dd>
          <%= number_field(:pin, :satisfaction, {class: "rating", disabled: "disabled", data: {size: 'xs'}}) %>
        </dd>
        <br clear="both">
      <% end %>
      <% if @pin.user.present? %>
        <dt>Submitter</dt>
        <dd><strong><%= link_to @pin.user.username.presence || @pin.user.id, pins_path(user: @pin.user) %></strong></dd>
      <% end %>
    </dl>
    <% if @pin.details.present? %>
      <div id="details">
        <%= fa_icon "quote-left" %>
        <%= @pin.details.try(:html_safe) %>
      </div>
    <% end %>
  </div>
  <br clear="both" />
<% end %>
<div id="comments-container">
  <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
</div>
