<div class="row-fluid">
	<div class="span6">
		<div class="well">
			<% for pinimage in @pin.pin_images do %>
			  <%= image_tag pinimage.photo unless pinimage.photo_file_size.nil? %>
        <br>
			  <%= pinimage.caption.to_s %>
        <br><br>
			<% end %>
			<br><%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, pins_path %>
      <% if current_user == @pin.user || current_user.admin == true %>
        | <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_pin_path(@pin) %>
      <% end %>
		</div>
</div>
<div class="span4">
	<ul class="unstyled">
    <li><i class="fa fa-user-md"></i> <b>Surgeon:</b>
      Dr. <%= @pin.surgeon.last_name %>, <%= @pin.surgeon.first_name unless @pin.surgeon.first_name.nil? %></li>
    <li><i class="fa fa-plus-square"></i> <b>Procedure:</b>
      <%= @pin.procedure.name %></li>
    <li><i class="fa fa-usd"></i> <b>Cost:</b>
      <%= number_with_delimiter(@pin.cost) %></li>
    <li><i class="fa fa-exclamation-circle"></i> <b>Want revision?</b>
    	<%= @pin.revision %></li>
      <% if @pin.sensation.present? %>
    <li><b>Post-op Sensation</b>
      <% 5.times do |i| %>
        <%= radio_button(:pin, :sensation, i, {class: "star", disabled: "disabled"}) %>
      <% end %>
    </li>
    <br>
    <% end %>
    <% if @pin.satisfaction.present? %>
    <li><b>Post-op Satisfaction</b>
      <% 5.times do |i| %>
        <%= radio_button(:pin, :satisfaction, i, {class: "star", disabled: "disabled"}) %>
      <% end %>
    </li>
    <br>
    <% end %>
    <li><i class="fa fa-quote-left"></i> <b>Description:</b></li>
    <li style="background-color:#fff; padding:10px;"><%= @pin.details %></li>
   </ul>

<% if @pin.user.present? %><small><b>Submitter:</b> <%= link_to @pin.user.username.presence || @pin.user.id, by_path(by_user: @pin.user) %></small><% end %>
</div>

<br clear="both" />

<div id="comments-container">
  <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>

  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
</div>