<% if comment.published? %>
  <div class="comment" id="comment-<%=comment.id %>">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= comment.body %>
      </div>
      <div class="panel-footer">
        <small>by <strong>
            <%= link_to comment.user.try(:username) || comment.user.try(:id), pins_path(user: comment.user) %>
          </strong> |
          <%= comment.updated_at.strftime('%b %d, %Y at %I:%M %p') %> |
          <% commentable = @pin ? @pin : @procedure %>
          <%= link_to "#{fa_icon("comments")} reply".html_safe, new_comment_path(commentable_id: commentable.try(:id), commentable_type: commentable.try(:class), parent_id: comment.id), remote: true %>
          <%= " | " unless current_user == comment.user %>
          <%= link_to(fa_icon("flag"), comment_flags_path(comment), :method => :post, remote: true) unless current_user == comment.user %>
        </small>
        <% if comment.user_id == current_user.id || current_user.admin? %>
          <%= link_to "×", comment_path(comment), :method => :delete, :remote => true, data: {confirm: "Are you sure you want to remove this comment?"}, :disable_with => "×", :class => 'close' %>
        <% end %>
        <% if comment.children.present? %>
          <hr class="thread">
          <%= render :partial => 'comments/comment', :collection => comment.children, :as => :comment %>
        <% end %>
        <div class="reply-target">
        </div>
      </div>
    </div>
  </div>
<% end %>

