  <div class="comment" id="<%=comment.id %>">
      <div class="well"><%= comment.body %><br>
      	<hr>
      	<small>by <%= comment.user.id %> | <%= comment.updated_at.strftime('%b %d, %Y at %I:%M %p') %></small>
      	<% if comment.user_id == current_user.id %><%= link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close' %><% end %>       <%= link_to "<i class='icon-flag'></i>".html_safe, comment_flags_path(comment), :method => :post, remote: true %>
      </div>
  </div>