<div class="dropzone" id="dropper" data-pin-id="<%= @form.try(:id) %>">
  <div class="dz-message">Drop files here to upload</div>
  <div class="fallback">
    <%= f.fields_for :pin_images do |pin_image_form| %>
      <%#= puts "#{pin_image_form.object.inspect}" %>
      <div class="form-group">
        <%= pin_image_form.label :photo %>:
        <%= pin_image_form.file_field :photo %>
      </div>
      <div class="form-group">
        <%= pin_image_form.text_field :caption, placeholder: "Caption" %>
      </div>
      <div class="form-group" data-pin-image-id="<%= pin_image_form.object.try(:id) %>">
        <%= pin_image_form.label :_destroy, "Remove" %>:
        <%= pin_image_form.check_box :_destroy %>
      </div>
    <% end %>
  </div>
</div>

<div id="preview-template" class="hide">
  <div class="dz-preview dz-file-preview">
    <input class="caption" type="text" placeholder="Caption"></input>
    <br>
    <img data-dz-thumbnail />
    <div class="dz-details">
      <div class="dz-filename">
        <span data-dz-name></span>
      </div>
      <div class="dz-size" data-dz-size></div>
    </div>
    <div class="dz-progress">
      <span class="dz-upload" data-dz-uploadprogress></span>
    </div>
    <div class="dz-success-mark">
      <span>✔</span>
    </div>
    <div class="dz-error-mark">
      <span>✘</span>
    </div>
    <div class="dz-error-message">
      <span data-dz-errormessage></span>
    </div>
  </div>
</div>
