<div class="fallback">
  <div class="dropzone" id="dropper" data-pin-id="<%= @pin.try(:id) %>">
    <div class="fallback">
      <%= form_for(PinImage.new, html: {multipart: true}) do |pin_image_form| %>
        <%= pin_image_form.file_field :photo %>
        <%= pin_image_form.text_field :caption %>
      <% end %>
    </div>
  </div>
</div>
<button id="submit-all" class="btn btn-primary start" disabled="true">
  <i class="glyphicon glyphicon-upload"></i>
  <span>Upload photos</span>
</button>
<div class="hide">
  <div class="dz-preview dz-file-preview">
    <input class="caption" type="text" placeholder="Caption"><button class="save-caption"><%= fa_icon("sticky-note-o") %></button></input>
    <br>
    <img data-dz-thumbnail />
    <div class="dz-details">
      <div class="dz-filename">
        <span data-dz-name></span>
      </div>
      <div class="dz-size" data-dz-size></div>
    </div>
    <div class="dz-progress">
      <span class="dz-upload" data-dz-uploadprogress></span>
    </div>
    <div class="dz-success-mark">
      <span>✔</span>
    </div>
    <div class="dz-error-mark">
      <span>✘</span>
    </div>
    <div class="dz-error-message">
      <span data-dz-errormessage></span>
    </div>
  </div>
