<div class="dropzone well" id="dropper" data-pin-id="<%= @form.try(:id) %>">
  <div class="dz-message">Drop files here to upload</div>
  <div class="fallback">
    <%= f.fields_for :pin_images do |pin_image_form| %>
      <div class="pin-image-fields" data-pin-image-id="<%= pin_image_form.object.try(:id) %>">
        <div class="form-group">
          <%= pin_image_form.label :photo %>:
          <%= pin_image_form.file_field :photo %>
        </div>
        <div class="form-group">
          <%= pin_image_form.text_field :caption, placeholder: "Caption", class: "form-control pin-image-caption" %>
        </div>
        <div class="form-group">
          <%= pin_image_form.label :_destroy, "Remove" %>:
          <%= pin_image_form.check_box :_destroy %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="preview-template" class="hide">
  <div class="dz-preview dz-file-preview thumbnail">
    <img data-dz-thumbnail />

    <div class="caption">
      <div class="input-group input-group-md">
        <input class="form-control pin-image-caption" type="text" placeholder="Caption"></input>
      </div>

      <div class="text-center">
        <div class="dz-filename">
          <span data-dz-name></span>
        </div>
        <div data-dz-size></div>
      </div>
      <div class="hide">
        <div class="dz-progress">
          <span class="dz-upload" data-dz-uploadprogress></span>
        </div>
        <div class="dz-success-mark">
          <span>✔</span>
        </div>
        <div class="dz-error-mark">
          <span>✘</span>
        </div>
      </div>
      <div class="dz-error-message">
        <span data-dz-errormessage></span>
      </div>
    </div>
  </div>
</div>
