<%= form_for @pin, :html => {:multipart => true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="span4">

    <%= f.label :surgeon, "Surgeon" %>
    <%= f.text_field :surgeon %>

     <%= f.label :cost, "Cost" %>
    <%= f.text_field :cost %>

    <%= f.label :revision, "Want revision?" %>
    <%= f.check_box :revision %>

    <%= f.label :details, "Details" %>
    <%= f.text_area :details, :cols => "10", :rows => "10" %>
    <%= f.submit %>
</div>
<div class="span4">

    <%= f.fields_for :pin_images do |builder| %>
     <% if builder.object.new_record? %> 
        <%= builder.label :caption, "Image Caption" %>
        <%= builder.text_field :caption %>

        <%= builder.label :photo, "Image File" %>
        <%= builder.file_field :photo %>
        <br><br>
         <% end %> 

    <% end %>
</div></div>
<% end %>