<div class="row-fluid">
	<div class="span8">
		<div class="well">
			<% for pinimage in @pin.pin_images do %>
			<%= image_tag pinimage.photo unless pinimage.photo_file_size.nil? %>
			<% end %>
			<% if current_user == @pin.user %> <%= link_to 'Edit', edit_pin_path(@pin) %> <% end %> |
<%= link_to 'Back', pins_path %>
		</div>
</div>
<div class="span3">
	<ul class="unstyled">
  <li><b>Surgeon:</b>
  <%= @pin.surgeon %></li>
  <li><b>Cost:</b>
  <%= @pin.cost %></li>
  <li><b>Want revision?:</b>
 <li><%= @pin.revision %></li>
 <li><b>Description:</b>
  <%= @pin.details %></li>
</ul>
<small><b>Submitter:</b> <%= @pin.user.name %></small>
</div>
<br clear="both" />
