<h2>Edit <%= resource_name.to_s.humanize %> Settings</h2>
<div class="profile_well">
  <%= simple_form_for(resource.preference, :url => user_preferences_path(resource), :html => {:method => :put, :class => 'form-horizontal'}) do |f| %>
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-addon">
          <%= f.check_box :safe_mode, :value => resource.preference.safe_mode %>
        </span>
        <span class="form-control"><small>Safe mode</small></span>
        <span class="input-group-addon"><i class="glyphicon glyphicon-eye-close"></i></span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p>Safe mode will replace all submission images on the index page with safe for work images of kittens.</p>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-addon">
          <%= f.check_box :notification, :value => resource.preference.notification  %>
        </span>
        <span class="form-control">Notifications</span>
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p>Notification mode allows you to receive emails alerting you to new comments on your submission.</p>
    </div>
    <%= f.submit "Update", class: "btn btn-primary pull-right" %>
    <br clear="both">
  <% end %>
</div>
<h2>Cancel <%= resource_name.to_s.humanize %> Account</h2>
<div class="well">
  <h3>Warning: this action CAN NOT be undone.</h3>
  <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn' %>
</div>
