<h2>Your Submissions</h2>
<div class="profile_well">
    <% if current_user.pins.length == 0 then %>
    <%= link_to 'Submit Now +', new_pin_path %>
    <% else %>
    <% for pin in current_user.pins do %>
    <%= link_to fa_icon("pencil-square-o"), edit_pin_path(pin) %>
    | <%= link_to fa_icon("trash-o"), pin, method: :delete, data: { confirm: 'Are you sure?' } %>
    | submission #<%= pin.id %>
    <br>
    <% for pin_image in pin.pin_images do %>
    <%= link_to (image_tag pin_image.photo.url(:thumb)), pin %><br>
    <% end %>
    <hr>
    <% end %>
    <% end %>
</div>
