<% title 'Change your password' %>
<div class="col-md-5 center">
  <div class="top-block"><center><h1><%= fa_icon "lock" %></h1></center></div>
  <div class="login_well">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <div class="input-group padded_nicely">
      <span class="input-group-addon"><%= fa_icon "lock" %></span>
      <%= f.password_field :password, placeholder: "New password", class: "form-control", autofocus: true %>
    </div>
    <div class="input-group padded_nicely">
      <span class="input-group-addon"><%= fa_icon "lock" %><%= fa_icon "check" %></span>
      <%= f.password_field :password_confirmation, placeholder: "New password confirmation", class: "form-control" %>
    </div>
    <%= f.submit "Change my password", class: "btn btn-info" %>
  </div>
  <div class="well">
    <%= render "devise/shared/links" %>
  </div>
</div>
<% end %>
