<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/">Transbucket.com</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <%= link_to 'Home',  root_path %>
                        </li>
                        <li>    
                            <%= link_to 'About',  about_path %>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <% if user_signed_in? %>
                        <li><%= link_to 'Add +', new_pin_path %> </li>
                        <li><%= link_to 'My Account',  edit_user_registration_path %></li>
                        <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
                        <% else %>
                                <li><%= link_to 'Login',  new_user_session_path %></li>
                                <% end %>
                    </ul>
                </div>
        </div>
    </div>
</div>