<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<% title 'About Transbucket' %>
<div class="row">
  <div class="padded_nicely col-md-6 center" style="background: url('<%= image_url("dysphoria2.png", :size => "400x400", :alt => "key", :padding => "10") %>') no-repeat top center; height:200px;">
  </div>
</div>
<div class="row nice-font">
  <div class="faq_item col-md-6 center">
    <p class="lead"><strong>TransBucket.com</strong> was created Summer 2009 after the shutdown of <%= link_to 'Transster.com',  "http://wayback.archive.org/web/20010815000000*/http://www.transster.com" %> (2001-2009), a surgery photosharing website exclusively for FTMs.</span> In Fall 2012, the original founders Kit and Ryan moved on from active management of the site, passing on responsibility to Alex.</p>
  </div>
  &nbsp;
  <div class="faq_item col-md-6 center">
    <h3>Who is welcome here?</h3>
    <p>Our historical origin is why the site is so heavily skewed in content towards FTMs. We've tried to build on the foundation of Transster, but offer a surgery outcomes resource for <strong>everyone</strong>, from FTMs to MTFs to genderqueers, gender non-confirming individuals, agender individuals, and everyone else who could benefit from exploring the real life experiences collected here. Since the site is for those that have undergone procedures, we don't actually require specific identifications. For that reason, we recognize even individuals that identify as "detrans" or "desisted" or "post-trans" (who may now also identify as "cis") should be welcome to share their medical experiences here with zero harrassment.</p>
    <p><mark>When you participate on the site, keep in mind our inclusive tenets,</mark> no matter how you identify or how you feel about your outcomes or the outcomes of others. Your outcomes don't predict other people's outcomes, and your feelings don't predict other people's feelings. It's easy to forget you're looking at real bodies, which belong to real human beings with real feelings. What you say has real consequences. Posts and comments are moderated by the community and volunteers, and can be removed at any time with no notice.</p>
    <h3>Why are there ads?</h3>
    <p>In 2021, Alex added ads to the site after paying for hosting costs out of pocket for almost a decade. With these ads, the site is now self-sustaining given the existing hosting costs and traffic level. If Alex is unable to manage the site at some point, another webmaster could take over without needing to contribute significant disposable income. You can still use an adblocker on your desktop to avoid the ads.</p>
    <h3>How can I help?</h3>
    <p>If you're interested in volunteering to help work on development efforts, moderation, or alternatives to funding the site, please reach out or feel free to <a href="https://github.com/mooreniemi/Transbucket_Rails">cut us an issue on GitHub</a>!</p>
  </div>
  &nbsp;
  <div class="faq_item col-md-6 center">
    <p class="lead">You can contact Alex using this <%= link_to "contact form #{fa_icon('envelope-o')}".html_safe, contact_path %> or <a href="mailto:webmaster@transbucket.com">by email</a> with site feedback. You can also find us on <%= link_to "Facebook #{fa_icon('facebook')}".html_safe, "https://www.facebook.com/transbucket" %> and <%= link_to "Twitter #{fa_icon('twitter')}".html_safe, "https://twitter.com/transbucket" %>.</p>
  </div>
</div>
