<h2><%= title 'Newsfeed' %></h2>
<div class="center">
  <%  rss = SimpleRSS.parse open('http://transbucket.tumblr.com/rss').read; coder = HTMLEntities.new %>
    <% for e in rss.items do %>
      <div class="hero-unit">
        <h3><i class="icon-rss-sign"></i>
          <%= link_to coder.decode("#{e.title}").html_safe, coder.decode("#{e.link}").html_safe %></h3>
      	<br>
        <%= coder.decode("#{e.description}").html_safe %>
      <hr>
        <div class="fb-share-button" data-href="<%= e.link %>" data-type="button_count"></div>
        &nbsp; <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= e.link %>" data-via="transbucket" data-text="<%= e.title %>" data-hashtags="transgender">Tweet</a>
      </div>
    <% end %>
</div>