<% title 'Sign In' %>

<div id="flash-message">
  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert", id: "flash-#{name}") %>
  <% end %>
</div>

<div class="top-block span5 center"><center><h1><i class="fa fa-unlock-alt"></i></h1></center></div>
<div class="login_well span5 center">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
    <%= f.error_notification %>

    <%= f.input :login %>
    <%= f.input :password %>
    <%= f.input :remember_me, as: :boolean %> <%= f.submit "Sign in", class: "btn btn-primary btn-large pull-right" %>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
<br clear="both">