<div class="well span6"><%= form_for @message, :url => contact_path do |form| %>
  <fieldset class="fields">
    <div class="field">
      <% if user_signed_in? %>
       <%= form.hidden_field :email, :value => User.find(current_user).email %>
      <% else %>
       <%= form.label :email %>
       <%= form.text_field :email %>
      <% end %>
    </div>
    <div class="field">
      <%= form.label :subject %>
      <%= form.text_field :subject %>
    </div>
    
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, :cols => "70", :rows => "10", :class => "span6" %>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= form.submit "Send", :class => "btn" %>
  </fieldset>
  <% end %>
</div>
<br clear="both">