<tr itemscope itemtype="https://schema.org/MedicalProcedure">
  <td><%= link_to procedure.name.titleize, procedure_path(procedure) %></td>
  <% if user_signed_in? %>
  <td><%= link_to @pins_per_procedure[procedure.id] || 0, pins_path(procedure: procedure.id) %></td>
<% else %>
  <td><%= link_to "Register to see more", register_path  %></td>
  <% end %>
  <td><%= procedure.avg_satisfaction %></td>
  <td><%= procedure.avg_sensation %></td>
  <td><%= @comments_per_procedure[procedure.id] || 0 %></td>
</tr>
