<% title @procedure.to_s  %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= @procedure.name %>
    <%= link_to Pin.where(procedure_id: @procedure.id).count, pins_path(procedure: @procedure.id), { style: 'border-radius: 100%; background: #ffffcc; display:inline-block; padding:5px;' } %>
  </div>
  <% if @procedure.description %>
    <div class="panel-body">
      <%= @procedure.description %>
    </div>
  <% end %>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">
      Average sensation: <%= @procedure.avg_sensation %>
  </li>
  <li class="list-group-item">
    Average satisfaction: <%= @procedure.avg_satisfaction %>
</li>
  </ul>
</div>

<% if current_user %>
  <h4><%= fa_icon("comments-o") %> discussion</h4>
  <div id="comments-container">
    <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
    <%= link_to "<h5>#{fa_icon("comment-o")} add thread</h5>".html_safe, new_comment_path(commentable_id: @procedure.id, commentable_type: "Procedure"), remote: true %>
    <div id="reply-target-<%= @procedure.id %>">
    </div>
  </div>
<% end %>
