<% title @procedure.to_s  %>
<% cache(@procedure) do %>
<div class="panel panel-default" itemscope itemtype="https://schema.org/MedicalProcedure">
  <div class="panel-heading">
    <h2><%= @procedure.name %></h2>
    <%= link_to "See all submissions", pins_path(procedure: @procedure.id) %>
  </div>
  <% if @procedure.body_type %>
    <div class="panel-body" itemprop="bodyLocation">
      <i>This procedure is classified as a "<%= @procedure.body_type %>" procedure.</i>
    </div>
  <% end %>
  <% if @procedure.description %>
    <div class="panel-body" itemprop="description" itemprop="howPerformed">
      <%= @procedure.description %>
    </div>
  <% end %>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">
      Average sensation: <%= @procedure.avg_sensation %>
  </li>
  <li class="list-group-item">
    Average satisfaction: <%= @procedure.avg_satisfaction %>
</li>
  </ul>
</div>
<% end %>

<% if current_user %>
  <h4><%= fa_icon("comments-o") %> discussion</h4>
  <div id="comments-container">
    <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
    <%= link_to "<h5>#{fa_icon("comment-o")} add thread</h5>".html_safe, new_comment_path(commentable_id: @procedure.id, commentable_type: "Procedure"), remote: true %>
    <div id="commentable" class="reply-target">
    </div>
  </div>
<% end %>
