<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t(".header.account")%> <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <% if user_signed_in? %>
        <li><%= link_to I18n.t(".account_menu.my_account"),  edit_user_registration_path %></li>
        <li><%= link_to I18n.t(".account_menu.logout"),  destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to I18n.t(".account_menu.login"),  new_user_session_path %></li>
        <li><%= link_to I18n.t(".account_menu.register"), register_path %></li>
      <% end %>
    </ul>
  </li>
</ul>
