<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"> <%= image_tag(image_path("SandPail.png"), :size => "16x16", :alt => "Index") %> Transbucket.com</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <%= link_to 'News',  home_path %>
                        </li>
                        <li>    
                            <%= link_to 'About',  about_path %>
                        </li>
                    </ul>


                    <%= form_tag pins_path, :class => 'navbar-search', :method => :get do %>
                    <%= text_field_tag 'query', value = nil, :class => 'search-query', :placeholder => "Search" %>
                    <%= submit_tag 'Go', :class => 'search-query btn' %>
                    <% end %>

                    <ul class="nav pull-right">
                        <% if user_signed_in? %>
                        <li><%= link_to 'Add +', new_pin_path %> </li>
                        <li><%= link_to 'My Account',  edit_user_registration_path %></li>
                        <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
                        <% else %>
                                <li><%= link_to 'Login',  new_user_session_path %></li>
                                <% end %>
                    </ul>
                </div>
        </div>
    </div>
</div>
