<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"> <%= image_tag(image_path("small_logo.png"), :size => "16x16", :alt => "Index") %> Transbucket.com</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <%= link_to 'News',  home_path %>
                        </li>
                        <li>
                            <%= link_to 'About',  about_path %>
                        </li>
                        <% if current_user.present? && current_user.admin? %>
                          <li>
                            <%= link_to 'Admin', admin_path %>
                          </li>
                        <% end %>
                    </ul>

                    <ul class="nav">
                        <% if user_signed_in? %>
                        <li><%= link_to 'Submissions', pins_path %> </li>
                        <li><%= link_to 'Add <i class="fa fa-plus-circle"></i>'.html_safe, new_pin_path %> </li>
                        <li><%= link_to 'My Account',  edit_user_registration_path %></li>
                        <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
                        <% else %>
                        <li><%= link_to 'Register', register_path %></li>
                        <li><%= link_to 'Login',  new_user_session_path %></li>
                        <% end %>
                    </ul>
                    <% if user_signed_in? %>
                      <%= form_tag pins_path, :class => 'form-search pull-right', :method => :get do %>
                        <div class="input-append">
                          <%= text_field_tag 'query', value = nil, :class => 'span2 search-query', :placeholder => "Search" %>
                          <%#= autocomplete_field_tag 'pin', '', autocomplete_procedure_pin_index_path, :size => 75 %>
                          <%= submit_tag 'Go', :class => 'btn' %>
                      </div>
                      <% end %>
                    <% end %>
                </div>
        </div>
    </div>
</div>

 <script>
  $(function() {
    var availableTags = ["Double Incision w  nipple grafts", "Periareolar Keyhole", "Double incision w  NO nipple grafts", "T Anchor Double Incision", "FTM Phalloplasty", "Phalloplasty", "Other", "Double Incision w  NO Nipple Grafts", "MTF Bottom Surgery", "FTM Metoidioplasty", "Metoidioplasty", "Breast Augmentation Implants", "FFS Facial Feminization Surgery", "Alter  Gary", "Johnson  Melissa", "Bowman  Cameron", "McGinn  Christine", "Lawton  Gary", "Fischer  Beverly", "Garramone  Charles", "Brownstein  Michael", "Medalie  Daniel ", "Protasov  Kirill", "Foley  Art", "Kuzon  William Michael Jr ", "Westburg  Kirsten", "De La Riva  Patricia", "McLean  Hugh", "Johnson  Perry", "Steinwald", "Edwards  Gereth", "Startseva  Olesya", "Leis  Sherman", "Schaarschmidt ", "Tholen  Richard", "Davies  Dai", "other", "Raphael  Peter", "Brassard  Pierre", "Reardon  James J ", "Faridi  Andree", "Andersson  Lena C ", "Monstrey  Stan", "Steinwald  Paul", "Reed  Harold", "Hassall  Megan", "Suporn  Watanyusakul", "Djordjevic  Miroslav", "Daverio  Paul", "Costas  Paul", "Dupere  Marc", "Mangubat  Antonio", "Bowers  Marci", "Perovic  Sava", "Rumer  Kathy", "Bartholomeusz  Hugh", "Menard  Yvon", "Nguyen  Tuan A ", "Weiss  Paul", "Ralph  David", "Meltzer  Toby", "Gilbert  David", "Buckley  Marie Claire", "Van Loenen  Thea", "Caloca  Jaime", "Jones  Justin", "Lincenberg  Sheldon", "Beck  Joel B", "Bartlett  Richard", "Janwialuang  Choomchoke", "Schaff  Jurgen", "Milroy  Catherine", "King  Clifford", "Gahm  Jessica", "Kratz  Gunnar", "Giuffre  Martin", "Crane  Curtis", "Vaniver  Karen", "Liedl  Bernhard", "Yelland  Andrew", "Wilson  Alan Neal", "Vichai Surawongsin"];
    $( "#query" ).autocomplete({
      source: availableTags,
      minLength: 2
    });
  });
  </script>
