<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= display_meta_tags :reverse => true, :site => 'Transbucket.com' %>
    <script data-ad-client="ca-pub-3154444439610781" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if user_signed_in? %>
      <div id="flash-message">
        <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert", id: "flash-#{name}") %>
        <% end %>
      </div>
      <% end %>
      <%= yield %>
    </div>
    <%= any_login_here if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </body>
</html>
